<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>
</head>
<body>
  <form action="{{ url_for('music_page') }}" >
    <div class="grid-container">
      <div style="align-items: center; text-align: center; width: 70%; height: 70%;">     
        <img class ="outer-shadow" id="bg" class="center img-fluid" src="{{ url_for('video_feed') }}" width="100%" controls/>
      </div>
      <div style="align-items: left; text-align: center;">
        <input type="submit" value="Detect Emotion" style="padding: 10px 30px; margin-right: 40%; margin-top: 50%; margin-left:0; white-space: nowrap;">
        <!-- <a href="http://localhost:5000/music"><button style="padding: 10px 30px; margin-right: 40%; margin-top: 50%; margin-left:0; white-space: nowrap;">see music recommendation</button></a> -->
      </div>
    </div>
  </form>  
</body>
</html>